---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<ul class="pub-list">
{% for project in site.projects reversed %}
  <li>
    <strong>{{ project.title }}</strong><br>
    {% if project.period %}
      <span>{{ project.period }}</span><br>
    {% endif %}
    {{ project.excerpt }}<br>

    {% if project.highlights %}
      <div class="highlights">
        {% for h in project.highlights %}
          {{ h }}<br>
        {% endfor %}
      </div>
    {% endif %}

    {% if project.links %}
      <div class="links">
        {% for link in project.links %}
          [<a href="{{ link.url }}">{{ link.label }}</a>]
        {% endfor %}
      </div>
    {% endif %}
  </li>
{% endfor %}
</ul>


