---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<!-- {% include base_path %}

{% if site.project_category %}
  {% for category in site.project_category %}
    {% assign title_shown = false %}
    {% assign sorted_projects = site.projects | sort: 'start' | reverse %}
    {% for project in sorted_projects %}
      {% if project.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <article class="archive-item">
        <h3>{{ project.title }}</h3>
        {% if project.period %}
          <p><em>{{ project.period }}</em></p>
        {% endif %}
        <p>{{ project.excerpt }}</p>

        {% if project.highlights %}
          <ul>
            {% for item in project.highlights %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if project.image %}
          <img src="{{ project.image }}" alt="{{ project.title }}" style="max-width:250px; margin-top:0.5rem;">
        {% endif %}

        <a href="{{ project.url | relative_url }}">Read more</a>
      </article>
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign sorted_projects = site.projects | sort: 'start' | reverse %}
  {% for project in sorted_projects %}
    <article class="archive-item">
      <h3>{{ project.title }}</h3>
      {% if project.period %}
        <p><em>{{ project.period }}</em></p>
      {% endif %}
      <p>{{ project.excerpt }}</p>

      {% if project.highlights %}
        <ul>
          {% for item in project.highlights %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if project.image %}
        <img src="{{ project.image }}" alt="{{ project.title }}" style="max-width:250px; margin-top:0.5rem;">
      {% endif %}

      <a href="{{ project.url | relative_url }}">Read more</a>
    </article>
  {% endfor %}
{% endif %} -->

{% include base_path %}

<ul class="pub-list">
{% for project in site.projects reversed %}
  <li>
    <strong>{{ project.title }}</strong><br>
    {% if project.period %}
      <span>{{ project.period }}</span><br>
    {% endif %}
    {{ project.excerpt }}<br>

    {% if project.highlights %}
      <div class="highlights">
        {% for h in project.highlights %}
          {{ h }}<br>
        {% endfor %}
      </div>
    {% endif %}

    {% if project.links %}
      <div class="links">
        {% for link in project.links %}
          [<a href="{{ link.url }}">{{ link.label }}</a>]
        {% endfor %}
      </div>
    {% endif %}
  </li>
{% endfor %}
</ul>


